<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Miklat Finder</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfF4P88BWO3BKU-3L8iII3YjMTzVX0sxg&libraries=places"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <style>
        .find {
            height: 50%;
            width: 10%;
            font-weight: bold;
            background-color: #FF0000;
            color: #FFFFFF;
        }
    </style>
</head>
<body onload="createPlacesAutcomplete()">
    <div>
        <div>
            <button class="find" onclick="createMap();">Find nearest miklat</button>
            OR by address:
            <input id="addressbar" type="text" size="50" placeholder="Input address"></input>
        </div>
        <table border="1" id="addresses" style="display: none;">
            <tr>
                <th>Number</th>
                <th>Address</th>
            </tr>
        </table>
    </div>
    <div id="map" style="width: 500px; height: 400px;"></div>
</body>
</html>
