<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Miklat Finder</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=Function.prototype"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <style>
        .find {
            height: 50%;
            width: 10%;
            font-weight: bold;
            background-color: #FF0000;
            color: #FFFFFF;
        }
    </style>
</head>
<body onload="createPlacesAutcomplete()">
    <div>
        <div style="display: flex;">
            <button class="find" onclick="createMap();">Find nearest miklat</button>
            OR by address:
            <div>
                <input id="addressbar" type="text" size="50" style="display: block;" placeholder="Input address"></input>
                <span id="address-error" style="position: relative;color: #FF0000;display: none;">Could not find location specified</span>
            </div>
        </div>
        <table border="1" id="addresses" style="display: none;">
            <tr>
                <th>Number</th>
                <th>Miklat Name</th>
            </tr>
        </table>
    </div>
    <div id="map" style="width: 500px; height: 400px;"></div>
</body>
</html>
